:root[data-theme='light'] {
	--bg-primary: #fff;
	--bg-secondary: #e8e8e8;
	--bg-tertiary: #f3f3f3;
	--bg-scrim: #0d0d0d80;
	--bg-elevated-primary: #fff;
	--bg-elevated-secondary: #f9f9f9;
	--bg-status-warning: #fff5f0;
	--bg-status-error: #fff0f0;
	--border-default: #0d0d0d1a;
	--border-heavy: #0d0d0d26;
	--border-light: #0d0d0d0d;
	--border-status-warning: #ffe7d9;
	--border-status-error: #ffe1e0;
	--text-primary: #0d0d0d;
	--text-secondary: #5d5d5d;
	/* 💠 Neumorphism Shadows */
	--box-shadow-inactive: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.7);
	--box-shadow-active:
		inset 4px 4px 8px rgba(0, 0, 0, 0.15), inset -4px -4px 8px rgba(255, 255, 255, 0.6);
	--box-shadow-inactive-subtle:
		2px 2px 4px rgba(0, 0, 0, 0.04), -2px -2px 4px rgba(255, 255, 255, 0.6);

	--box-shadow-active-subtle:
		inset 2px 2px 4px rgba(0, 0, 0, 0.08), inset -2px -2px 4px rgba(255, 255, 255, 0.5);
}

:root[data-theme='dark'] {
	--bg-primary: #212121;
	--bg-secondary: #303030;
	--bg-tertiary: #414141;
	--bg-scrim: #0d0d0d80;
	--bg-elevated-primary: #303030;
	--bg-elevated-secondary: #181818;
	--bg-status-warning: #4a2206;
	--bg-status-error: #4d100e;
	--border-default: #ffffff26;
	--border-heavy: #fff3;
	--border-light: #ffffff0d;
	--border-status-warning: #4a2206;
	--border-status-error: #4d100e;
	--text-primary: #fff;
	--text-secondary: #f3f3f3;
	/* Add shadows for dark mode too */
	--box-shadow-inactive: 8px 8px 16px rgba(0, 0, 0, 0.4), -8px -8px 16px rgba(255, 255, 255, 0.05);
	--box-shadow-active:
		inset 4px 4px 8px rgba(0, 0, 0, 0.6), inset -4px -4px 8px rgba(255, 255, 255, 0.1);
	--box-shadow-inactive-subtle:
		2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.02);

	--box-shadow-active-subtle:
		inset 2px 2px 4px rgba(0, 0, 0, 0.7), inset -2px -2px 4px rgba(255, 255, 255, 0.03);
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0;
	/* Remove scrollbar space */
	background: transparent;
	/* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: var(--bg-primary);
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100dvh;
	font-family: 'Open Sans Variable', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	background: var(--bg-primary);
	color: var(--text-primary);
	overflow: scroll;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.urbanist-bold {
	font-family: 'Urbanist Variable', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.open-sans-regular {
	font-family: 'Open Sans Variable', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.lobster-regular {
	font-family: 'Lobster', system-ui;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Urbanist Variable', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
}

code {
	font-family: 'Fira Code Variable', monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

li::marker {
	color: var(--secondary-color);
}

@media screen and (max-width: 600px) {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.8rem;
		margin: 0.6rem 0;
	}

	p {
		line-height: 1.4rem;
	}
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

input[type='number'] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	appearance: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}